{% extends 'admin/change_list.html' %}

{% block result_list %}
  <div class="results">
      <table id="result_list">
        <thead>
          <tr>
              <th scope="col" class="sortable column-name">
                 <div class="text"><a href="?o=0">Сумма</a></div>
                 <div class="clear"></div>
              </th>
              <th scope="col" class="sortable column-price">
                 <div class="text"><a href="?o=1">Сделка</a></div>
                 <div class="clear"></div>
              </th>
              <th scope="col" class="sortable column-price">
                 <div class="text"><a href="?o=1">Статус</a></div>
                 <div class="clear"></div>
              </th>
              <th scope="col" class="sortable column-price">
                 <div class="text"><a href="?o=1">Действия</a></div>
                 <div class="clear"></div>
              </th>
          </tr>
        </thead>
        <tbody>
          {% for payment in cl.queryset %}
            <tr class="row2">
                <td>{{ payment.amount_money }}</td>
                <td>{{ payment.deal }}</td>
                <td>{{ payment.status.name }}</td>
                <td>
                  <a href="{% url 'admin:deal_deal_change' payment.deal.pk %}">
                    Посмотреть сделку
                  </a>
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock result_list %}