{% extends 'admin/change_list.html' %}

{% block result_list %}
  <div class="results">
      <table id="result_list">
        <thead>
          <tr>
              <th scope="col" class="sortable column-name">
                 <div class="text"><a href="?o=0">Сделка</a></div>
                 <div class="clear"></div>
              </th>
              <th scope="col" class="sortable column-price">
                 <div class="text"><a href="?o=1">Стоимость</a></div>
                 <div class="clear"></div>
              </th>
              <th scope="col" class="sortable column-price">
                 <div class="text"><a href="?o=1">Действия</a></div>
                 <div class="clear"></div>
              </th>
          </tr>
        </thead>
        <tbody>
          {% for deal in cl.queryset %}
            <tr class="row2">
                <td class="field-name"> {{ deal.offer.title }}</td>
                <td class="field-price">{{ deal.offer.price }}</td>
                <td>
                  <a href="{% url 'admin:deal_deal_change' deal.pk %}">
                    Подробности
                  </a>
                    /
                  <a href="{% url 'admin:deal_pay' deal.pk %}">
                    Оплатить
                  </a>
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock result_list %}