{% extends "admin/base_site.html" %}

{% block content %}
  <form action="{% url 'admin:deal_pay' deal_pk %}" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {{ form.payment_amount.errors }}
    <p>
        <label for="{{ form.amount.id_for_label }}">Сумма:</label>
        {{ form.payment_amount }}
    </p>

    {{ form.number_invoice.errors }}
    <p>
      <label for="{{ form.invoice.id_for_label }}">Счёт:</label>
      {{ form.invoice }}
      <a href="{% url 'admin:user_invoice_add' %}">Создать</a>
    </p>

    <input type="submit" value="Оплатить">
  </form>
{% endblock %}
