{% extends "admin/base_site.html" %}

{% block content %}
  <form action="{% url 'admin:deal_pay' view.kwargs.deal_pk %}" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {{ form.amount.errors }}
    <p>
        <label for="{{ form.amount.id_for_label }}">Money:</label>
        {{ form.amount }}
    </p>

    {{ form.invoice.errors }}
    <p>
      <label for="{{ form.invoice.id_for_label }}">Invoice:</label>
      {{ form.invoice }}
      <a href="{% url 'admin:user_invoice_add' %}">Create</a>
    </p>

    <input type="submit" value="Submit">
  </form>
{% endblock %}
