{% extends 'admin/change_list.html' %}

{% block result_list %}
  <div class="results">
      <table id="result_list">
        <thead>
          <tr>
              <th scope="col" class="sortable column-name">
                 <div class="text"><a href="?o=0">Предложение</a></div>
                 <div class="clear"></div>
              </th>
              <th scope="col" class="sortable column-price">
                 <div class="text"><a href="?o=1">Стоимость</a></div>
                 <div class="clear"></div>
              </th>
              <th scope="col" class="sortable column-price">
                 <div class="text"><a href="?o=1">Действия</a></div>
                 <div class="clear"></div>
              </th>
          </tr>
        </thead>
        <tbody>
            {% for offer in cl.queryset %}
                {% if user.is_superuser or offer.status == offer.AVAILABLE or offer.status == offer.NOT_AVAILABLE and offer.user == user %}
                    <tr class="row2">
                        <td class="field-name">{{ offer.title }}</td>
                        <td class="field-price">{{ offer.price }}</td>
                        <td>
                            {% if offer.user != user %}
                                <a href="{% url 'admin:offer_confirm' offer.pk %}">
                                  Сделка
                                </a>
                                /
                            {% endif %}
                            <a href="{% url 'admin:deal_offer_change' offer.pk %}">
                                Подробности
                            </a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}